.frtlist{
    color:red; font-family: 'Courier New', Courier, monospace;

}

h1{color: #000; background-color: antiquewhite;}



.Type-of-Mango{
    color:green; font-family: 'Courier New', Courier, monospace;text-size:20px;

}

h3{ color:blue; background-color: antiquewhite;  }